
    <!-- Transparent Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container-fluid">
        <a class="navbar-brand" data-bs-toggle="offcanvas" href="#sidebarMenu" role="button" aria-controls="sidebarMenu">
          <img src="../../../assets/img/RechargePlus_transparent.PNG" alt="Logo" width="70" height="54" class="d-inline-block align-text-top">
        </a>
  
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
          aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse justify-content-between" id="navbarColor01">
          <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link active" routerLink="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/account">Account</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/loan">Loan</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/market">Market</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/projects">Projects</a></li>
          </ul>
  
          <ul class="navbar-nav d-flex flex-row align-items-center">
            <li class="nav-item me-3">
              <a class="nav-link cart-icon" href="#">
                <i class="fas fa-shopping-cart"></i>
                <span class="cart-badge">3</span>
              </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle profile-dropdown" href="#" id="profileDropdown" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                <img src="../../../assets/img/profilepic.png" alt="Profile" class="profile-img">
              </a>
              <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="#">Account Settings</a></li>
                <li><a class="dropdown-item" routerLink="/admin" href="#">Dev Studio</a></li>
                <li><a class="dropdown-item" href="#">Wallet</a></li>
                <li><a class="dropdown-item" href="#">Friends</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Logout</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
