.loans-page {
    h2 {
      font-weight: 800;
    }
  
    .loan-card {
      background-color: #f8f9fa;
      border-left: 4px solid #00d4ff;
      transition: all 0.3s ease;
  
      &:hover {
        background-color: #eefcff;
        transform: translateY(-2px);
      }
    }
  
    .loan-apply-form {
      background-color: #ffffff;
      border-left: 5px solid #00d4ff;
  
      form label {
        font-weight: 600;
      }
  
      .btn-primary {
        background-color: #00d4ff;
        border-color: #00d4ff;
        font-weight: 600;
  
        &:hover {
          background-color: #00bfe0;
          border-color: #00bfe0;
        }
      }
    }
    .btn-luxury {
      background-color: white;
      color: #54C19E;
      border: 2px solid #54C19E;
      border-radius: 12px; 
      transition: background-color 0.3s ease, color 0.3s ease;
    }
    
    .btn-luxury:hover {
      background-color: #54C19E;
      color: white;
      border: 2px solid #54C19E;
      cursor: pointer;
    }
    
    .btn-luxury.active {
      background-color:  #54C19E;
      color: white;
      border: 2px solid  #54C19E;
    }
  }
  