<div class="auth-container">
  <div class="auth-card">
    <h2>Réinitialiser le mot de passe</h2>

    <form (ngSubmit)="onReset()" #resetForm="ngForm">
      <input 
        type="password" 
        [(ngModel)]="newPassword" 
        name="newPassword" 
        placeholder="Nouveau mot de passe" 
        required 
        minlength="6" 
        pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{6,}$"
        title="Le mot de passe doit contenir au moins 6 caractères, incluant au moins une lettre et un chiffre." />

      <button type="submit" [disabled]="!resetForm.form.valid">Valider</button>
    </form>

    <p class="success-msg">{{ message }}</p>
  </div>
</div>
